nav {
  display: flex;
  align-items: center;
  gap: 20px; 
  background-color: #333;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(var(--foreground-rgb), 0.2); 
}

nav:hover {
  background: rgba(var(--foreground-rgb), 0.2); 
  box-shadow: 0 4px 8px rgba(var(--foreground-rgb), 0.3); 
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
  color: #16abff; 
  background-color: rgba(22, 171, 255, 0.1); 
  border-radius: var(--border-radius);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.userName {
  color: rgb(var(--foreground-rgb));
  font-size: 16px;
}

.logoutButton {
  background-color: #ff4d4d; 
  color: rgb(var(--foreground-rgb));
  padding: 6px 12px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.logoutButton:hover {
  background-color: #ff1a1a; 
  transform: scale(1.05); 
}

.logoutButton:active {
  transform: scale(0.95);
}

main {
  height: calc(100vh - 50px); 
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}