/* Estilos para la barra de navegación */
nav {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaciado entre los elementos */
  background: rgba(var(--foreground-rgb), 0.1); /* Fondo semi-transparente */
  padding: 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(var(--foreground-rgb), 0.2); /* Sombra para profundidad */
  transition: background 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

nav:hover {
  background: rgba(var(--foreground-rgb), 0.2); /* Fondo más oscuro al pasar el ratón */
  box-shadow: 0 4px 8px rgba(var(--foreground-rgb), 0.3); /* Sombra más pronunciada al pasar el ratón */
}

/* Enlaces de navegación */
nav a {
  color: rgb(var(--foreground-rgb));
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
  color: #16abff; /* Color azul para el hover */
  background-color: rgba(22, 171, 255, 0.1); /* Fondo azul claro para el hover */
  border-radius: var(--border-radius);
}

/* Información del usuario */
.userInfo {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre el nombre de usuario y el botón de cierre de sesión */
}

/* Nombre de usuario */
.userName {
  color: rgb(var(--foreground-rgb));
  font-size: 16px;
}

/* Botón de cierre de sesión */
.logoutButton {
  background-color: #ff4d4d; /* Color rojo claro */
  color: rgb(var(--foreground-rgb));
  padding: 6px 12px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.logoutButton:hover {
  background-color: #ff1a1a; /* Rojo más oscuro al pasar el ratón */
  transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

.logoutButton:active {
  transform: scale(0.95); /* Efecto de escala al hacer clic */
}
